<div class='container' ng-controller='seaOrLandController'>
    
    <div class='row'>
        <div class='spaceVertical'>
            <label class='spaceHorizontal'>X:</label>
            <input ng-model='coords.x' type='number' required/>
            <label class='spaceHorizontal'>Y:</label>
            <input ng-model='coords.y' type='number' required/>
            <div><a href="https://onwater.io/" target="_blank">Don't have a clue? Get coords from here...</a></div>
            <botton class='btn btn-primary center spaceVertical' ng-click='checkCoords()'>Check Sea or Earth!</botton>
        </div>
        <hr>       
    </div>
   
    <div class='row spaceVertical spaceVertical frameBorder'>
        <div class='col-md-4 col-sm-4'>
            <div ng-show="result === 'earth'" class='bgEarth height100'>Earth</div>
        </div>
        <div class='col-md-4 col-sm-4'>
            <div class='height100 '>
                    <p>Total count: {{totalCount}}</p>
                    <p class='bgSea'>Sea count: {{seaCount}}</p>
                    <p class='bgEarth'>Earth count: {{earthCount}}</p>
            </div>
        </div>
        <div class='col-md-4 col-sm-4'>
            <div ng-show="result === 'sea'" class='bgSea height100'>Sea</div>
        </div>
    </div>
</div>


    